Pillow
APScheduler
python-dotenv
fastapi
google-generativeai
pandas
pydantic
pydantic-settings
PyMySQL
pypdf
pytesseract
reportlab
requests
SQLAlchemy
typing_extensions
cryptography
python-multipart
uvicorn
