Pillow
APScheduler
python-dotenv
fastapi
google-generativeai
pandas
pydantic
pydantic-settings
PyMySQL
pypdf
pdfplumber
PyMuPDF
pytesseract
pdf2image
opencv-python-headless
reportlab
requests
SQLAlchemy
typing_extensions
cryptography
python-multipart
uvicorn
